html body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main-container {
  height: 100vh;
}

#sidebar {
  height: 100%;
}

#model {
  height: 100%;
  background-color: #191970;
}

#handler-r, #handler-i, #handler-e {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}

#input, #target, #output {
  border: outset 2px;
  height: 50px;
  font-family: monospace;
  margin: 5px 0;
  padding: 10px 0 0 5px;
}

.list-group-item {
  margin: 20px 0;
  border: outset 2px;
}
